<nav class="bg-custom-color p-4 sticky top-0 z-50">
  <div class="text-lg[#F1F2F4] text-lg">
    <span class=" text-[#14cbf0]">Tecno<span class="text-[#2f6f86]">despegue</span></span>
  </div>
</nav>

